# Dépendances de Node.js
node_modules/
package-lock.json

# Fichiers de session WhatsApp (NE JAMAIS PARTAGER)
.wwebjs_auth/
.wwebjs_cache/

# Fichiers temporaires et logs
logs/
*.log

# Dossier public généré pour le QR code
public/